.message
    img.avatar(src="https://picsum.photos/64")
    .info
        .head
            a.name(href="htts://vk.com/math.head") Радько Петр
            .time 20 Марта 2021
        .content Люблю программирование и математику!<br>Гениями не рождаются, ими становятся!