doctype html
html
    head
        meta(charset="UTF-8")
        title Включение файлов
        link(href="style.css", rel="stylesheet")

    body
        p Информационная система "Патриот"

        include logo.svg

        p Загрузка данных...